<!DOCTYPE html>
<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
    <meta name=Generator content="Microsoft Word 15 (filtered)">
    <style>
        <!--
       
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            margin: 0in;
            font-size: 12.0pt;
            font-family: "Times New Roman",serif;
        }

        .MsoChpDefault {
            font-family: "Calibri",sans-serif;
        }

        .MsoPapDefault {
            margin-bottom: 10.0pt;
            line-height: 115%;
        }


        div.WordSection1 {
            page: WordSection1;
        }
        /* List Definitions */
        ol {
            margin-bottom: 0in;
        }

        ul {
            margin-bottom: 0in;
        }
    </style>

</head>

<body lang=EN-US link=blue vlink=purple style='word-wrap:break-word'>

    <div class=WordSection1>

        <p class=MsoNormal align=center style='text-align:center'>
            <b>
                <span style='font-size:14.0pt'>FISH OF NEW FAIRFIELD</span>
            </b>
        </p>

        <p class=MsoNormal><b>&nbsp;</b></p>

        <p class=MsoNormal align=center style='text-align:center'>
            <b>
                <u>
                    <span style='font-size:14.0pt'>User Guidelines</span>
                </u>
            </b>
        </p>

        <p class=MsoNormal align=center style='text-align:center'><b>&nbsp;</b></p>

        <p class=MsoNormal>
            <b>
                FISH (Friends in Service Here) is a network of dedicated
                volunteers in New Fairfield who provide transportation to medical and dental
                appointments <u>in and out of New Fairfield, Danbury, Bethel, New Milford or Brookfield</u>
                and to the merchants, New Fairfield Food Bank, Senior Center, etc. <u>
                    within New
                    Fairfield.
                </u>
            </b>
        </p>

        <p class=MsoNormal><b><span style='font-size:10.0pt'>&nbsp;</span></b></p>

        <p class=MsoNormal align=center style='text-align:center'>
            <b>
                <u>
                    <span style='font-size:14.0pt'>
                        ***Please note that out of town rides are for medical/dental
                        appointments only.
                    </span>
                </u>
            </b>
        </p>

        <p class=MsoNormal>
            <b>
                <u>
                    <span style='font-size:10.0pt'>
                        <span style='text-decoration:
 none'>&nbsp;</span>
                    </span>
                </u>
            </b>
        </p>

        <p class=MsoNormal>
            <b>
                <u>
                    Medical appointments take priority over other types of
                    rides.
                </u>
            </b>  <b>Clients must be ambulatory and be able to get</b> <b>
                in and
                out of a vehicle on their own
            </b>.  <b>
                We cannot provide transportation for
                wheelchair bound residents
            </b>.  If a client has a home health aide, that aide
            must accompany the client on all rides provided by FISH volunteers.  FISH
            provides rides when family members, neighbors, the HART bus and other options
            are not available.  <b>Fish volunteers provide rides Monday through Friday</b> <b>
                before
                5 p.m.
            </b>  Rides are not available on weekends or holidays.
        </p>

        <p class=MsoNormal><span style='font-size:10.0pt'>&nbsp;</span></p>

        <p class=MsoNormal><b><u>How to arrange a FISH ride:</u></b></p>

        <p class=MsoNormal>
            <b>
                <u>
                    <span style='font-size:10.0pt'>
                        <span style='text-decoration:
 none'>&nbsp;</span>
                    </span>
                </u>
            </b>
        </p>

        <p class=MsoNormal style='margin-left:.5in;text-indent:-.25in'>
            -<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>Call the <b>FISH number</b> (203-312-5627) at least <u>three</u> working
            days before your appointment.  (It’s best to call as early as possible.)
        </p>

        <p class=MsoNormal style='margin-left:.25in'><span style='font-size:10.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='margin-left:.5in;text-indent:-.25in'>
            -<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>Provide the date, time, location and duration of your appointment.
        </p>

        <p class=MsoNormal style='margin-left:.25in'><span style='font-size:10.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='margin-left:.5in;text-indent:-.25in'>
            -<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>A driver will then contact you to arrange the ride. <b>
                Please do <u>not</u>
                request a specific driver because we may not be able to accommodate that
                request.
            </b>
        </p>

        <p class=MsoNormal><span style='font-size:10.0pt'>&nbsp;</span></p>

        <p class=MsoNormal><b><u>Please help FISH volunteers</u></b></p>

        <p class=MsoNormal>
            <b>
                <u>
                    <span style='font-size:10.0pt'>
                        <span style='text-decoration:
 none'>&nbsp;</span>
                    </span>
                </u>
            </b>
        </p>

        <p class=MsoNormal style='margin-left:.5in;text-indent:-.25in'>
            -<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>DO schedule your ride early – at least three working days before your
            appointment &amp; earlier if possible.
        </p>

        <p class=MsoNormal style='margin-left:.5in;text-indent:-.25in'>
            -<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><b>DO NOT</b> <b>contact schedulers or drivers directly</b>.  <b>
                All
                calls must first go through the FISH number.
            </b>
        </p>

        <p class=MsoNormal><span style='font-size:10.0pt'>&nbsp;</span></p>

        <p class=MsoNormal>
            <b>
                <span style='font-size:13.0pt'>
                    FISH does not guarantee
                    that you will be accommodated but every effort will be made to do so.
                </span>
            </b>
        </p>

        <p class=MsoNormal><span style='font-size:10.0pt'>&nbsp;</span></p>

        <p class=MsoNormal><b><u>Other transportation option:  The SweetHART Bus</u></b></p>

        <p class=MsoNormal>
            <b>
                <u>
                    <span style='font-size:10.0pt'>
                        <span style='text-decoration:
 none'>&nbsp;</span>
                    </span>
                </u>
            </b>
        </p>

        <p class=MsoNormal>
            The SweetHART Bus “Dial-a-Ride” provides curb-to-curb
            service in New Fairfield Monday through Saturday. Service is available Monday
            through Friday between 7:45 a.m. and 4:05 p.m. for medical appointments, stops
            for shopping, banking and other needs and for the Nutrition Program at the New
            Fairfield Senior Center.  Service on Saturday is available from 10:25 a.m.
            until 3:50 p.m.
        </p>

        <p class=MsoNormal> </p>

        <p class=MsoNormal>
            <b>
                To schedule a ride call the toll-free number at least 24
                hours in advance at 203-744-4070, Option 3
            </b>.
        </p>

        <p class=MsoNormal><span style='font-size:10.0pt'>&nbsp;</span></p>

        <p class=MsoNormal>
            Brochures about the Dial-a-Ride service are available in
            Town Hall and at the New Fairfield Senior Center.  Further information is also
            available at http://hartransit.com/sweethart-0.
        </p>

        <p class=MsoNormal><span style='font-size:10.0pt'>&nbsp;</span></p>

        <p class=MsoNormal align=center style='text-align:center'>
            <b>
                FISH is led by a Board
                of Directors who are all FISH volunteers.
            </b>
        </p>

        <p class=MsoNormal align=center style='text-align:center'><b>&nbsp;</b></p>

        <p class=MsoNormal align=center style='text-align:center'>
            <b>
                <span style='font-size:13.0pt;background:yellow'>
                    Drivers do not accept money for
                    their volunteer service, but if you wish, you may send a
                </span>
            </b>
        </p>

        <p class=MsoNormal align=center style='text-align:center'>
            <b>
                <span style='font-size:13.0pt;background:yellow'>
                    donation to FISH OF NEW FAIRFIELD by
                    check made out to FISH of New Fairfield, 6 Bayview Terrace, New Fairfield, CT
                    06812 or by using the Donate Now button on our website www.FishofNF.org
                </span>
            </b>
        </p>

    </div>

</body>

</html>
