@{
    ViewBag.Title = "Home Page";
}

<div class="container ">
    <div class="row">
        <div class="col-1 text-center">
            <h1 class="display-4">Welcome</h1>
            <div class="picture">
                <img src="~/images/ride.jpeg" class="img-thumbnail" alt="Alternate Text" style="width:50%" />
            </div>
            <p class="lead">Friends in Service Here</p>
        </div>
    </div>



</div>





@*intro logo*@
<section id="intro" class="" style="margin-bottom:30px;">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-9">

                <img src="~/images/FISH logo.jpg" alt="" style="width:40%; margin:auto" class="img-responsive text-center" />

                <h2 style="text-align:center">About Us</h2>
                <p style="text-align: center">
                    FISH ( Friends In Service Here) of New Fairfield is a non-profit, all
                    volunteer organization that is incorporated in the state of Connecticut.
                    We pair Senior Citizens and/or other New Fairfield residents who cannot drive
                    themselves with a network of dedicated volunteers in New Fairfield.
                    These volunteers can provide transportation to medical and dental appointments
                    in and out of New Fairfield, Danbury, New Milford, Bethel or Brookfield and to
                    the merchants, New Fairfield Food Bank, the Post Office, etc.
                    within New Fairfield. We are a recognized 501(c)(3) and
                    we accept no payment for our services. We do, however, welcome donations
                    to FISH to allow us to cover our administrative expenses.
                </p>
                @Html.ActionLink(">>> Book Your Ride <<<", "Create", "CustomerModels", new { area = "" }, new { @class = "btn btn-info btn-lg btn-block img-rounded" })

                


            </div>

            <div class="col-md-1"></div>

            @*donate*@
            <div class="col-md-2 text-center">
                <form action="https://www.paypal.com/donate" method="post" target="_blank">
                    <h3 class="text-info">Donate</h3>
                    <img src="/images/FISH_heart.jpg" style="height: 150px; width: 150px;" class="mx-auto d-block" alt="">
                    <p class="">
                        Through your donation we have been able to continue working providing essential
                        service <br>
                                <span class="text-info"> You truly make the <span style="font-weight: 800;">difference</span> for us</span>, and we are <span style="font-weight: 800;">extremely grateful!</span>
                    </p>

                    <p>You can use any credit card, and do not need a PayPal account to donate.</p>
                    <P>Just click on the button below:</P>

                    <input type="hidden" name="hosted_button_id" value="3QGFBWMBNPQ72" />
                    <input type="image" src="/images/paypall.png" name="submit"
                           title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button"
                           style="height: 80px;" />
                    <img alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif" />

                </form>
            </div>
        </div>

    </div>

 
</section>





